<div class="sm:mt-8">
  <% if current_user.following?(@user) %>
    <%# 現在のユーザーと相互フォロー状態にある場合 %>
    <% if current_user.followers?(@user) %>
      <div class="relative bg-green-400 text-gray-700 p-3 rounded-lg text-sm font-semibold shadow mb-4 inline-table">ともだち</div>
      <%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id),
      html: { method: :delete }, data: { turbo_confirm: 'ともだちを取り消しますか？' }, local: true) do |f| %>
        <%= button_tag type: 'submit' do %>
          <span class="text-xs text-gray-500 tracking-tight cursor-pointer hover:border-b-2">→ ともだちをやめる</span>
        <% end %>
      <% end %>

    <%# 現在のユーザーにともだちリクエスト中で、相手が承認していない場合？ %>
    <% else %>
      <%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id),
      html: { method: :delete }, data: { turbo_confirm: 'リクエストを取り消しますか？' }, local: true) do |f| %>
        <%= button_tag type: 'submit' do %>
          <div class="relative bg-yellow-400 text-gray-600 p-3 rounded-lg text-sm font-semibold tracking-tight shadow coursor-pointer w-auto">
            <span class="hover:hidden">ともだちリクエスト中</span>
            <span class="hidden hover:inline">リクエストを取り消す</span>
          </div>
        <% end %>
      <% end %>
    <% end %>

  <%# 現在のユーザーにともだちリクエストをしていない場合 %>
  <% else %>
    <%= form_with(model: current_user.active_relationships.build, local: true) do |f| %>
      <div><%= hidden_field_tag :followed_id, @user.id %></div>
      <%= button_tag type: 'submit' do %>
        <div class="relative bg-green-500 text-white p-3 rounded-lg text-sm font-semibold tracking-tight shadow cursor-pointer w-auto">
        ともだちリクエストを送る
        </div>
      <% end %>
    <% end %>
  <% end%>
</div>