<section class="bg-gray-100">
    <div class="container px-6 py-10 mx-auto">
      <div class="">
        <div class="text-xl font-semibold text-center text-yellow-900 capitalize lg:text-3xl">
          <span class="text-3xl font-semibold capitalize lg:text-4xl"><%= current_user.user_name %></span>
          さんのともだちリスト
        </div>

        <div class="relative mx-auto w-60 mt-8">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
                    <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </span>
            <%= form_with(url: search_users_path, local: true, method: :get) do |form| %>
              <%= form.text_field :keyword, placeholder: "ユーザーを探す", class: "w-60 py-2 pl-10 pr-4 text-gray-700 bg-white border rounded-md  focus:border-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-300" %>
            <% end %>
        </div>
      </div>

      <% if @friends.present? %>
      <div class="container mx-auto px-4 sm:px-8 max-w-4xl">
        <div class="py-8">
          <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
              <table class="min-w-full leading-normal">
                <thead>
                  <tr>
                    <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-yellow-900 text-left text-sm uppercase font-normal text-center">
                      なまえ
                    </th>
                    <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-yellow-900 text-left text-sm uppercase font-normal text-center">
                      今日のアクション数
                    </th>
                    <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-yellow-900 text-left text-sm uppercase font-normal">
                      すべてのアクション数
                    </th>
                    <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-yellow-900 text-left text-sm uppercase font-normal text-center"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @friends.each do |user| %>
                  <tr>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-lg">
                      <div class="flex items-center">
                        <div class="flex-shrink-0">
                          <% unless user.image.blank? %>
                            <div>
                              <%= image_tag user.image, class:"w-14 h-14 rounded-full inline-flex items-center justify-center object-cover block relative"%>
                            </div>
                          <% else %>
                            <div class="w-14 h-14 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400 block relative">
                              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                              </svg>
                            </div>
                          <% end %>
                        </div>
                        <div class="ml-3">
                          <p class="text-yellow-900 whitespace-no-wrap">
                            <%= user.user_name %>
                          </p>
                        </div>
                      </div>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-xl text-center">
                      <p class="text-yellow-900 whitespace-no-wrap">
                        <%= user.user_activities.where('created_at >= ?', Date.today).count %>
                      </p>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-xl text-center">
                      <p class="text-yellow-900 whitespace-no-wrap">
                        <%= user.user_activities.count %>
                      </p>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-xl">
                      <%= link_to user_path(user) do %>
                        <span class="relative inline-block px-3 py-1 font-semibold text-yellow-900 leading-tight cursor-pointer">
                          <span aria-hidden="true" class="absolute inset-0 bg-orange-400 opacity-50 rounded-full ">
                          </span>
                            <span class="relative">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                              </svg>
                            </span>
                        </span>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</section>