<section class="bg-gray-100">
    <div class="container px-6 py-10 mx-auto text-center">
      <div class="">
        <div class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl">「<%= params[:keyword] %>」のけんさくけっか</div>

        <div class="relative mx-auto w-60 mt-8">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
                    <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </span>
            <%= form_with(url: search_users_path, local: true, method: :get) do |form| %>
              <%= form.text_field :keyword, placeholder: "他のともだちを探す", class: "w-60 py-2 pl-10 pr-4 text-gray-700 bg-white border rounded-md  focus:border-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-300" %>
            <% end %>
        </div>
      </div>
        
      <% if @search_friends.present? %>
        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-4">
          <% @search_friends.each do |user| %>
            <%= link_to user_path(user) do %>
              <div class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-green-400 rounded-xl">
                  <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="">
                  
                  <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize group-hover:text-white"><%= user.user_name %></h1>
                  
                  <p class="mt-2 text-gray-200 capitalize group-hover:hidden">　　　　　　　　　　　</p>
                  <p class="mt-2 text-gray-100 capitalize hidden group-hover:inline"><%= user.user_name %>さんのページにいく</p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="text-xl mt-8 xl:mt-16">
          <p>「<b><%= params[:keyword] %></b>」に当てはまるユーザーはいませんでした。</p>
        </div>
      <% end %>
    </div>
</section>