<!-- component -->
<div class="bg-gray-100">
            <div class="container mx-auto">
                <div role="article" class="bg-gray-100 py-12 md:px-8">
                    <div class="px-4 py-10 flex justify-center">
                        <h1 class="text-3xl ml-2 lg:ml-0 lg:text-4xl font-bold text-gray-700 tracking-normal lg:w-11/12 text-center"><span class="text-cyan-600">アクション</span>をきろく</h1>
                    </div>
                    <div class="px-6 xl:px-0">
                        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 pb-6 gap-8">

                            <%# ごみのセクション %>
                            <div role="cell" class="bg-gray-100">
                                <div class="bg-white p-5 rounded-md relative h-full w-full">
                                    <!-- class="absolute inset-0 object-center object-cover h-full w-full"  -->
                                    <span><img class="bg-gray-200 p-2 mb-5 rounded-full" src="https://i.ibb.co/27R6nk5/home-1.png" alt="home-1" /></span>
                                    <h1 class="pb-4 text-2xl font-semibold text-gray-700 text-center">ごみ</h1>
                                    <div class="my-5">
                                        <% @activities[0,9].each do |activity| %>
                                            <%= form_with model: @user_activity, path: user_activities_path, local: true do |f|%>
                                                <div class="flex align-center my-7">
                                                    <%= button_tag type: 'submit' do %>
                                                        <svg xmlns=”http://www.w3.org/2000/svg” class="h-8 w-8 rounded-full text-green-500 hover:text-white hover:bg-green-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                                        </svg>
                                                    <% end %>
                                                    <h4 class="text-md text-gray-800 ml-4 hover:border-b-2 hover:border-green-500"><%= activity.activity %></h4>
                                                    <%= f.hidden_field :activity_id, :value => activity.id %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>

                            <%# スマートムーブのセクション %>
                            <div role="cell" class="bg-gray-100">
                                <div class="bg-white p-5 rounded-md relative h-full w-full">
                                    <!-- class="absolute inset-0 object-center object-cover h-full w-full"  -->
                                    <span><img class="bg-gray-200 p-2 mb-5 rounded-full" src="https://i.ibb.co/bdGyLYk/pricetags-1.png" alt="pricetags-1" /></span>
                                    <h1 class="pb-4 text-2xl font-semibold text-gray-700 text-center">スマートムーブ</h1>
                                    <div class="my-5">
                                        <% @activities[10,4].each do |activity| %>
                                            <%= form_with model: @user_activity, path: user_activities_path, local: true do |f|%>
                                                <div class="flex align-center my-7">
                                                    <%= button_tag type: 'submit' do %>
                                                        <svg xmlns=”http://www.w3.org/2000/svg” class="h-8 w-8 rounded-full text-green-500 hover:text-white hover:bg-green-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                                        </svg>
                                                    <% end %>
                                                    <h4 class="text-md text-gray-800 ml-4 hover:border-b-2 hover:border-green-500"><%= activity.activity %></h4>
                                                    <%= f.hidden_field :activity_id, :value => activity.id %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>

                            <%# 学習のセクション %>
                            <div role="cell" class="bg-gray-100">
                                <div class="bg-white p-5 rounded-md relative h-full w-full">
                                    <!-- class="absolute inset-0 object-center object-cover h-full w-full"  -->
                                    <span><img class="bg-gray-200 p-2 mb-5 rounded-full" src="https://i.ibb.co/27R6nk5/home-1.png" alt="home-1" /></span>
                                    <h1 class="pb-4 text-2xl font-semibold text-gray-700 text-center">学習</h1>
                                    <div class="my-5">
                                        <% @activities[14,7].each do |activity| %>
                                            <%= form_with model: @user_activity, path: user_activities_path, local: true do |f|%>
                                                <div class="flex align-center my-7">
                                                    <%= button_tag type: 'submit' do %>
                                                        <svg xmlns=”http://www.w3.org/2000/svg” class="h-8 w-8 rounded-full text-green-500 hover:text-white hover:bg-green-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                                        </svg>
                                                    <% end %>
                                                    <h4 class="text-md text-gray-800 ml-4 hover:border-b-2 hover:border-green-500"><%= activity.activity %></h4>
                                                    <%= f.hidden_field :activity_id, :value => activity.id %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>

                            <%# 食料のセクション %>
                            <div role="cell" class="bg-gray-100">
                                <div class="bg-white p-5 rounded-md relative h-full w-full">
                                    <!-- class="absolute inset-0 object-center object-cover h-full w-full"  -->
                                    <span><img class="bg-gray-200 p-2 mb-5 rounded-full" src="https://i.ibb.co/bdGyLYk/pricetags-1.png" alt="pricetags-1" /></span>
                                    <h1 class="pb-4 text-2xl font-semibold text-gray-700 text-center">食料</h1>
                                    <div class="my-5">
                                        <% @activities[21,2].each do |activity| %>
                                            <%= form_with model: @user_activity, path: user_activities_path, local: true do |f|%>
                                                <div class="flex align-center my-7">
                                                    <%= button_tag type: 'submit' do %>
                                                        <svg xmlns=”http://www.w3.org/2000/svg” class="h-8 w-8 rounded-full text-green-500 hover:text-white hover:bg-green-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                                        </svg>
                                                    <% end %>
                                                    <h4 class="text-md text-gray-800 ml-4 hover:border-b-2 hover:border-green-500"><%= activity.activity %></h4>
                                                    <%= f.hidden_field :activity_id, :value => activity.id %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>

                            <%# 水のセクション %>
                            <div role="cell" class="bg-gray-100">
                                <div class="bg-white p-5 rounded-md relative h-full w-full">
                                    <!-- class="absolute inset-0 object-center object-cover h-full w-full"  -->
                                    <span><img class="bg-gray-200 p-2 mb-5 rounded-full" src="https://i.ibb.co/27R6nk5/home-1.png" alt="home-1" /></span>
                                    <h1 class="pb-4 text-2xl font-semibold text-gray-700 text-center">水</h1>
                                    <div class="my-5">
                                        <% @activities[21,2].each do |activity| %>
                                            <%= form_with model: @user_activity, path: user_activities_path, local: true do |f|%>
                                                <div class="flex align-center my-7">
                                                    <%= button_tag type: 'submit' do %>
                                                        <svg xmlns=”http://www.w3.org/2000/svg” class="h-8 w-8 rounded-full text-green-500 hover:text-white hover:bg-green-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                                        </svg>
                                                    <% end %>
                                                    <h4 class="text-md text-gray-800 ml-4 hover:border-b-2 hover:border-green-500"><%= activity.activity %></h4>
                                                    <%= f.hidden_field :activity_id, :value => activity.id %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>

                            <%# 電気のセクション %>
                            <div role="cell" class="bg-gray-100">
                                <div class="bg-white p-5 rounded-md relative h-full w-full">
                                    <!-- class="absolute inset-0 object-center object-cover h-full w-full"  -->
                                    <span><img class="bg-gray-200 p-2 mb-5 rounded-full" src="https://i.ibb.co/bdGyLYk/pricetags-1.png" alt="pricetags-1" /></span>
                                    <h1 class="pb-4 text-2xl font-semibold text-gray-700 text-center">電気</h1>
                                    <div class="my-5">
                                        <% @activities[25,11].each do |activity| %>
                                            <%= form_with model: @user_activity, path: user_activities_path, local: true do |f|%>
                                                <div class="flex align-center my-7">
                                                    <%= button_tag type: 'submit' do %>
                                                        <svg xmlns=”http://www.w3.org/2000/svg” class="h-8 w-8 rounded-full text-green-500 hover:text-white hover:bg-green-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                                        </svg>
                                                    <% end %>
                                                    <h4 class="text-md text-gray-800 ml-4 hover:border-b-2 hover:border-green-500"><%= activity.activity %></h4>
                                                    <%= f.hidden_field :activity_id, :value => activity.id %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>