<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EAction</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= favicon_link_tag('favicon.ico') %>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

        <%= stylesheet_link_tag "application" %>
        <%= javascript_importmap_tags %>
    </head>

    <body>
        <header>
            <nav class="bg-green-300 shadow fixed w-screen top-0 z-10">
                <div class="container py-1 mx-auto md:flex">
                    <div class="flex items-center justify-between">
                        <%= link_to image_tag("logo_image.png", class:"m-0 p-0 w-44"), root_path %>
                        
                        <%# <!-- Mobile menu button --> ハンバーガーメニュー %>
                        <div class="flex md:hidden" id="menu-btn">
                            <button type="button" class="text-yellow-800 hover:text-yellow-900 focus:outline-none hover-pointer" aria-label="toggle menu">
                                <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                                    <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
                    <div class="w-full md:flex md:items-center md:justify-end pt-4" id="menu">
                        <div class="flex flex-col px-6 py-3 mx-4 md:flex-row md:mx-0 md:py-0">
                            <% if user_signed_in? %>
                                <%= link_to '今日のアクション', root_path(anchor: 'today-action'), class:"px-2 py-1 text-sm font-medium text-yellow-900 transition-colors duration-200 transform rounded hover:bg-yellow-900 hover:text-gray-100 md:mx-2" %>
                                <%= link_to 'アクションをきろく', new_activity_path, class:"px-2 py-1 text-sm font-medium text-yellow-900 transition-colors duration-200 transform rounded hover:bg-yellow-900 hover:text-gray-100 md:mx-2" %>
                                <%= link_to 'マイページ', user_path(current_user.id), class:"px-2 py-1 text-sm font-medium text-yellow-900 transition-colors duration-200 transform rounded hover:bg-yellow-900 hover:text-gray-100 md:mx-2", data: { turbo: false } %>
                                <%= link_to 'あそびかた', root_path(anchor: 'howtoplay'), class:"px-2 py-1 text-sm font-medium text-yellow-900 transition-colors duration-200 transform rounded hover:bg-yellow-900 hover:text-gray-100 md:mx-2" %>
                                <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class:"px-2 py-1 text-sm font-medium text-yellow-900 transition-colors duration-200 transform rounded hover:bg-yellow-900 hover:text-gray-100 md:mx-2" %>
                            <% else %>
                                <%= link_to 'あそびかた', root_path(anchor: 'howtoplay'), class:"px-2 py-1 text-sm font-medium text-yellow-900 transition-colors duration-200 transform rounded hover:bg-yellow-900 hover:text-gray-100 md:mx-2" %>
                                <%= link_to '新しくはじめる', new_user_registration_path, class:"px-2 py-1 text-sm font-medium text-yellow-900 transition-colors duration-200 transform rounded hover:bg-yellow-900 hover:text-gray-100 md:mx-2" %>
                                <%= link_to 'ログイン', new_user_session_path, class:"px-2 py-1 text-sm font-medium text-yellow-900 transition-colors duration-200 transform rounded hover:bg-yellow-900 hover:text-gray-100 md:mx-2" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container mx-auto px-12 mt-8 pt-24 justify-center">
            <%= yield %>
        </main>
    </body>
</html>
